<%- include('partials/head') %> 
<%- include('partials/navbar') %> 

<main>
  <% if (object.RoomEntered === true) { %>
    <%- include('partials/chatRoom') %>
  <% } %>
</main>

<%- include('partials/footer') %> 